<!-- D:/web/midbizsolution/pecstandard/templates/pecstandard/pecs_table.html -->

<table>
    <thead>
        <tr>
            <th>문서 번호</th>
            <th>설비 번호</th>
            <th>설비명</th>
            <th>관리부서</th>
            <th>작성일자</th>
            <th>설비등급</th>
            <th>작업</th> <!-- 수정 및 삭제 버튼 열 추가 -->
        </tr>
    </thead>
    <tbody>
        {% for document in documents %}
        <tr>
            <td>{{ document.document_number }}</td>
            <td>{{ document.equipment_number }}</td>
            <td>{{ document.name }}</td>
            <td>{{ document.management_team }}</td>
            <td>{{ document.date_written }}</td>
            <td>{{ document.rating }}</td>
            <td>
                <a href="{% url 'pecs_change_main' document.id %}" class="btn btn-primary">수정</a>
                <a href="{% url 'delete_pecs' document.id %}" class="btn btn-danger">삭제</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">등록된 설비 점검 기준서가 없습니다.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
