<!-- midbizsolution/templates/solutions.html-->

{% extends 'base.html' %}

{% block title %}설비종합관리 메인 페이지{% endblock %}

{% block content %}
<style>
    .rectangle-button {
        display: inline-block;
        width: 100px;
        height: 60px;
        background-color: rgb(37,37,37); /* 초록색 배경 #00a000 */
        border: 2px solid rgb(37,37,37); /* 얇은 초록색 테두리 #00a000*/
        border-radius: 0px; /* 약간 둥근 모서리 */
        text-align: center;
        line-height: 60px; /* 수직 중앙 정렬 */
        color: white;
        font-weight: bold;
        text-decoration: none; /* 링크 밑줄 제거 */
        cursor: pointer;
        margin: 10px; /* 버튼 간 간격 */
    }
    
    .rectangle-button:hover {
        background-color: rgb(0, 0, 0); /* 호버 시 더 어두운 초록색  #008000*/
        border-color: rgb(0, 0, 0); /* 테두리도 어두운 초록색 */
    }

    /* 부모 요소에 중앙 정렬 */
    .center-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* 가로 중앙 정렬 */
        justify-content: center; /* 세로 중앙 정렬 */
        /*height: calc(100vh - 50px); /* 화면의 세로 중앙에 위치시키기 위해 사용 */
        margin-top: 100px; /* 상단 여백 */
    }

    .button-container {
        display: flex;
        justify-content: center; /* 버튼들을 가로 중앙 정렬 */
        flex-wrap: wrap; /* 버튼이 넘칠 경우 줄바꿈 */
        margin-top: 20px; /* 버튼과 제목 사이 간격 */
    }
</style>

<div class="center-container">
    <h2>설비종합관리</h2>
    <div class="button-container">
        <a href="{% url 'equipment_layout_main' %}" class="rectangle-button">설비관리대장</a>    
        <a href="{% url 'pecs_all_main' %}" class="rectangle-button">설비점검기준</a>
        <a href="#" class="rectangle-button">설비등급평가</a>
    </div>
</div>
{% endblock %}