<!-- D:/web/midbizsolution/myapp/templates/myapp/create_equipment.html -->

{% extends 'base.html' %}

{% block title %}설비 생성{% endblock %}

{% block content %}

<h2>설비 생성</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}  <!-- 폼의 전역 오류 표시 -->
    <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div class="form-group">
        {{ form.manufacturer.label_tag }}
        {{ form.manufacturer }}
        {{ form.manufacturer.errors }}
    </div>
    <div class="form-group">
        {{ form.specs.label_tag }}
        {{ form.specs }}
        {{ form.specs.errors }}
    </div>
    <button type="submit">완료</button>
    <button type="button" onclick="history.back()">취소</button>
</form>

{% endblock %}
