<!-- D:/web/midbizsolution/myapp/templates/myapp/equipment_table.html -->

<table>
    <thead>
        <tr>
            <th class="col-5">설비번호</th>
            <th class="col-5">설비명</th>
            <th class="col-7">모델명</th>
            <th class="col-7">제조사</th>
            <th class="col-7">제조년월</th>
            <th class="col-7">제조번호</th>
            <th class="col-10">형식</th>
            <th class="col-13">사양</th>
            <th class="col-7">최초설치시점</th>
            <th class="col-7">최초양산적용</th>
            <th class="col-7">현 운영장소</th>
            <th class="col-7">관리부서</th>
            <th class="col-5">오버홀</th>
            <th class="col-5">상태</th>                    
        </tr>
    </thead>
    <tbody>
        {% for equipment in equipments %}
        <tr>
            <td class="col-5">{{ equipment.equipment_number }}</td>
            <td class="col-5">{{ equipment.name }}</td>
            <td class="col-7">{{ equipment.model_name }}</td>
            <td class="col-7">{{ equipment.manufacturer }}</td>
            <td class="col-7">{{ equipment.mfg_date }}</td>
            <td class="col-7">{{ equipment.mfg_number }}</td>
            <td class="col-10">{{ equipment.equipment_type }}</td>
            <td class="col-13">{{ equipment.specs }}</td>
            <td class="col-7">{{ equipment.first_install }}</td>
            <td class="col-7">{{ equipment.first_implement }}</td>
            <td class="col-7">{{ equipment.current_operation_place }}</td>
            <td class="col-7">{{ equipment.management_team }}</td>
            <td class="col-5">{{ equipment.overhaul }}</td>
            <td class="col-5">{{ equipment.current_status }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="{% if mode == 'edit' %}5{% else %}4{% endif %}">등록된 설비가 없습니다.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>