<!-- D:/web/midbizsolution/myapp/templates/myapp/equipment_table.html -->

<table>
    <thead>
        <tr>
            <th>설비 번호</th>
            <th>설비명</th>
            <th>모델명</th>
            <th>제조사</th>
            <th>제조년월</th>
            <th>제조번호</th>
            <th>형식</th>
            <th>사양</th>
            <th>최초설치시점</th>
            <th>최초양산적용</th>
            <th>현 운영장소</th>
            <th>관리부서</th>
            <th>전면 정비</th>
            <th>상태</th>                    
        </tr>
    </thead>
    <tbody>
        {% for equipment in equipments %}
        <tr>
            <td>{{ equipment.equipment_number }}</td>
            <td>{{ equipment.name }}</td>
            <td>{{ equipment.model_name }}</td>
            <td>{{ equipment.manufacturer }}</td>
            <td>{{ equipment.mfg_date }}</td>
            <td>{{ equipment.mfg_number }}</td>
            <td>{{ equipment.equipment_type }}</td>
            <td>{{ equipment.specs }}</td>
            <td>{{ equipment.first_install }}</td>
            <td>{{ equipment.first_implement }}</td>
            <td>{{ equipment.current_operation_place }}</td>
            <td>{{ equipment.management_team }}</td>
            <td>{{ equipment.overall }}</td>
            <td>{{ equipment.current_status }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="{% if mode == 'edit' %}5{% else %}4{% endif %}">등록된 설비가 없습니다.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>