<!-- templates/myapp/equipment_menu.html -->

{% extends 'base.html' %}

{% block title %}설비관리대장{% endblock %}

{% block content %}
<h2>설비관리대장</h2>
<div>
    <button class="btn btn-success" onclick="location.href='{{ create_equipment }}'">생성</button>
    <button class="btn btn-warning" onclick="location.href='?mode=edit'">변경</button>
    <!-- <button class="btn btn-info" onclick="location.href='?mode=view'">조회</button> -->
</div>

{% if show_table %}
    <!-- 엑셀로 내보내기 버튼 -->
    <div style="text-align: right; margin-bottom: 10px; margin-top: 20px;">
        <button class="btn btn-secondary" onclick="exportToExcel()">엑셀로 내보내기</button>
    </div>
    
    {% include 'myapp/equipment_table.html' %}
{% endif %}

{% endblock %}

{% block extra_js %}
<script>
function exportToExcel() {
    window.location.href = "{% url 'export_to_excel' %}";
}
</script>
{% endblock %}
