<!-- D:/web/midbizsolution/myapp/templates/myapp/update_equipment.html -->

{% extends 'base.html' %}

{% block title %}설비 정보 수정{% endblock %}

{% block content %}

<h2>설비 정보 수정</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}  <!-- 폼의 전역 오류 표시 -->
    <div class="form-group">
        {{ form.equipment_number.label_tag }}
        {{ form.equipment_number }}
        {{ form.equipment_number.errors }}  <!-- 필드별 오류 표시 -->
    </div>
    <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div class="form-group">
        {{ form.model_name.label_tag }}
        {{ form.model_name }}
        {{ form.model_name.errors }}
    </div>   
    <div class="form-group">
        {{ form.manufacturer.label_tag }}
        {{ form.manufacturer }}
        {{ form.manufacturer.errors }}
    </div>    
    <div class="form-group">
        {{ form.mfg_date.label_tag }}
        {{ form.mfg_date }}
        {{ form.mfg_date.errors }}
    </div>    
    
    <div class="form-group">
        {{ form.mfg_number.label_tag }}
        {{ form.mfg_number }}
        {{ form.mfg_number.errors }}
    </div>
    <div class="form-group">
        {{ form.equipment_type.label_tag }}
        {{ form.equipment_type }}
        {{ form.equipment_type.errors }}
    </div> 
    <div class="form-group">
        {{ form.specs.label_tag }}
        {{ form.specs }}
        {{ form.specs.errors }}
    </div>
    <button type="submit" name="confirm_update">완료</button>
    <button type="button" class="btn" onclick="window.history.back();">취소</button>
</form>

{% endblock %}

