<!-- plantlayout/templates/plantlayout/create_playout.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>공장 레이아웃 생성</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit" id="create_confirm">확인</button>
    <button type="submit" name="add" id="create_add">추가</button>
    <a href="{% url 'plantlayout:playout_main' %}" id="create_cancel">취소</a>
</form>

<script src="{% static 'plantlayout/js/create_playout.js' %}"></script>
{% endblock %}
